<div *ngIf="gameStatus.isGameGoing" class="center-content">
   <div id="selectionBar" class="center-content">
      <div *ngFor="let button of buttons; let idx = index" class="center-content" [ngClass]="{'selected': gameStatus.selected === idx}">
         <p>{{idx}}</p>
         <button mat-fab (click)="selectTool(idx)">{{button}}</button>
      </div>
   </div>
   <p class="score" matTooltip="New buildings spawn in {{gameStatus.spawnTimer}} seconds">Score: {{gameStatus.score}}</p>
</div>
<div *ngIf="!gameStatus.isGameGoing" class="center-content">
   <p class="gameOver">Game Over!</p>
   <button mat-flat-button color="accent" (click)="restartGame()">Restart</button>
   <p class="gameOver">Score: {{gameStatus.score}}</p>
</div>
