@use '@angular/material' as mat;
@use './styles/colorTheme' as colorTheme;
@include mat.core();

* {
   user-select: none;
   box-sizing: border-box;
}

html,
body {
   height: 100%;
   margin: 0;
   background-color: colorTheme.primaryColor(100);
}

body {
   margin: 0;
   font-family: Roboto, "Helvetica Neue", sans-serif;
   overflow: hidden;
}

.center-content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100%;
}
